<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head start -->
    <%-include('include/head')%>
    <!-- head end -->
    <link rel="stylesheet" href="styles/index.css" />
    <script src="scripts/responsive.js" defer></script>
  </head>
  <body>
<!-- header start -->
<%- include('include/header') %> 
<!-- header end -->
    <main>
      <h1>Page not found</h1>
      <p>
        Share your favorite restaurants or find recommendations of other users!
      </p>
    </main>
  </body>
</html>
